body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.category-registration-container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #000;
    margin-bottom: 20px;
}

.category-registration-box {
    background-color: #ffffff;
    padding: 30px; /* alterou o padding*/
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 2px solid #f06530;
}

h3 {
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

h3::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #f06530;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.campo input {
    width: 100%; /*os inputs ficam com a mesa largura do button*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /*incluido para tbm nao ter o padding e border ultrapassarem o container pai. O input e button terem o border-box e width iguais permitem que eles fiquem alinhados*/
}

.btn-adicionar {
    width: 100%; /*mesma largura dos inputs*/
    padding: 10px;
    background-color: #f06530;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;   
    box-sizing: border-box; /*garante que o padding nao afete o tamanho real*/
}

.btn-adicionar:hover {
    background-color: #e0542b;
}


/*Nav Bar: Barra de navegacao*/
.navbar{
    position: fixed; /*nao altera a posicao*/
    top: 0;
    right: 0;
    background-color: #f06530;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
}


.navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #060505;
    border-radius: 3px;
}

.navbar-collapse { /*aqui fez o humburguer aparecer e esconder os links*/
    display: none; /*ver esse no chat*/
    top: 50px;
    right: 0;
    background-color: none;
    width: 200px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    padding: 10px;
}


/*css para estilizar o clicavel das opcoes no navbar*/
.navbar-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.navbar-nav a:hover {
    color: #150f0f; /* Garante que o texto fique visível */
    transition: background-color 0.3s ease;
}

/* item adicionada para tornar o codigo responsivo: 'box-sizing: border-box' ele faz o padding e as bordas serem incluidas na largura total do elemento (que foi definida como width:100%) sem eles, borda e padding ultrapassariam 100%, isso evita que o tamanho real do input e botao sejam maior que a div que as contem.*/

    