/*casinha  e humburguer*/
.humburguer, .home{
    color: #181717;
    border: none;
    background-color: transparent;
    cursor: pointer; /*quando passar o mause em cima, fica com a maozinha no mause*/
}
.humburguer{
    font-size: 30px;
}

.home{
    font-size: 25px;
}

#icones{
    top: 10px; /*distancia do topo da tela*/
    right: 10px; /*distancia da direita da tela*/
    position: fixed;
    align-items: flex-start;   }

.SIDE-BAR{
        display:none; 
        right:0;
    }

.alinhamento{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }    
.pagamento{
        background-color: #FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*efeito de div saindo para fora*/
        border-radius: 5px; /*arrendondamento*/
        width: 100%;
        max-width: 600px;
        text-align: center; /*texto que esta dentro da div ficou alinhado*/
        font-weight: bold; /*fonte mais forte*/
        margin-top: 50px; /*margem em relacao a parte de cima*/
    }